
.body {
  display: grid;
  grid-template-rows: 20vh 550px 1fr;
  grid-template-columns: 1fr 550px 1fr;
  font-size: 18px;
  line-height: 1.8;

}

.body > form {
  grid-column-start: 2;
  grid-row-start: 2;
}
.body > .response {
  grid-column-start: 2;
  grid-row-start: 2;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px;
  position: relative;
}

.submit-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 18px;
}

input {
  font-size: 18px;
  border-radius: 4px;
}

button {
  font-size: 18px;
  border-radius: 4px;
}

#name {
  width: 350px;
}
#address {
  width: 300px;
}

.error {
  border: 1px solid red;
  box-shadow: 2px 2px lightcoral;
}

.error ~ div {
  position: absolute;
  bottom: -18px;
  right: 0;
  font-size: 12px;
  color: red;
}